.yangtze {
    color: red;

}

.yangtze {
    color: blue;

}

.mouse {
    color: aqua;
    font-size: 16px;
}

li {
    color: red;
}

ul li {
    color: green;
}

div {
    width: 300px;
    height: 200px;
    border-top: 5px solid red;
    border-bottom: 10px solid green;
    border-left: 20px dotted blue;
    border-right: 1px dashed brown;
}